# --- OS Files ---
.DS_Store
Thumbs.db

# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# --- Project Specific ---
# We want to keep the folder, but NOT the messy files inside it
uploads/*
!uploads/.gitkeep

# --- IDEs ---
.vscode/
.idea/